@import "foundation";
.no-bg {
  background: transparent !important;
}
.custom-pb {
  padding-bottom: 8px !important;
}
table.body .columns.large-12{
  padding-right: 20px;
  padding-left: 30px;
}

table.body .columns.large-8,
table.body .columns.large-5
{
  padding-left: 30px;
}

table.body .columns.large-4{
  padding-right: 20px;
}

.bg_letter{
  background-color: $secondary-color!important;
}

.tiny-text {
  font-size: 12px;
}

.text-uppercase {
  text-transform: uppercase;
}

.basic-link {
  text-decoration: underline;
  color: #000;
}

.link_soc{
  display: inline-block;
  margin: 0 0 0 4px;
  padding: 0;
  position: relative;
  top: -10px;
}

p.small-text-center.text-right{
  margin-bottom: 0!important;
}

.main-sub-heading {
  color: $grey;
  text-transform: uppercase;
  margin: 0;
  font-size: 20px;
}

.heading {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}
.head{
  margin: 0;
  font-size: $h3-font-size;
  font-weight: normal;
}
.sub-heading{
  font-size: $h4-font-size;
  font-weight: normal;
  margin-bottom: $title-margin-bottom;
}
.main-heading {
  text-transform: uppercase;
  margin: 0;
  font-size: 22px;
}
.link-blue {
  color: $blue;
}
.main-body-p {
  color: $black;
  line-height: (16/14);
}

.bg_footer{
  background-color: $dark-gray;
  font-size: 0;
}

.decorative-line {
  background: $grey;
  height: 2px;
}

.item-name {
  text-transform: uppercase;
  color: $accent;
}
.link{
  display: inline-block;
  margin: 0;
  padding: 0;
}
.item-price {
  color: $grey;
}

table.button {
  margin-bottom: 0;
  table {
    td {
      padding: map-get($button-padding, default);
      a {
        padding: 0px;
      }
    }
  }
}

