<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- The character set should be utf-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- Enables media queries -->
    <meta name="viewport" content="width=device-width"/>
    <!-- Link to the email's CSS, which will be inlined into the email -->
    <link rel="stylesheet" href="../css/styles.css" inline>
</head>
<body>
<table class="body">
    <tr>
        <td>
            <center>
                <spacer size="18"></spacer>
                <table class="container">
                    <tbody>
                        <tr>
                            <td>
                                <p class="text-right"><a href="#" class="link"><img src="http://layoutmain.esy.es/mail/img/logo.png" alt="logo"></a></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="container">
                    <tbody>
                    <tr>
                        <td>
                            <h1 class="main-heading"><img src="http://layoutmain.esy.es/mail/img/img_main.jpg" alt="March 2018"></h1>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <container class="bg_letter">
                    <row>
                        <columns large="12">
                            <spacer size="30"></spacer>
                            <h2 class="heading text-left">Shiri's Opening</h2>
                            <spacer size="20"></spacer>
                            <p class="main-body-p text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque </p>
                            <a href="#" class="link"><img src="http://layoutmain.esy.es/mail/img/link-more.png" alt="more"></a>
                            <spacer size="25"></spacer>
                            <img src="http://layoutmain.esy.es/mail/img/dots.png" alt="dots">
                            <spacer size="5"></spacer>
                        </columns>
                    </row>
                </container>
                <container class="bg_letter">
                    <row>
                        <columns small="12" large="8">
                            <h3 class="head text-left">The Story of V7 DevOps Team</h3>
                            <h4 class="sub-heading">
                                By <a href="#" class="link-blue">Bella Laipsker</a>
                            </h4>
                            <p class="main-body-p text-left">Once upon a time… a new application was born named Splash. It was the first time in MCR that we wrote a pure web application, and we chose the Angular 1.2 framework. Since then, with our next applications</p>
                            <a href="#" class="link"><img src="http://layoutmain.esy.es/mail/img/link-more.png" alt="more"></a>
                        </columns>
                        <columns  small="12" large="4">
                            <p class="small-text-center"><a href="#" class="link"><img src="http://layoutmain.esy.es/mail/img/pic_1.png" alt="item"></a></p>
                        </columns>
                    </row>
                </container>
                <container class="bg_letter">
                    <row>
                        <columns large="12">
                            <img src="http://layoutmain.esy.es/mail/img/dots.png" alt="dots">
                            <spacer size="5"></spacer>
                        </columns>
                    </row>
                </container>
                <container class="bg_letter">
                    <row>
                        <columns small="12" large="8">
                            <h3 class="head text-left">The Story of V7 DevOps Team</h3>
                            <h4 class="sub-heading">
                                By <a href="#" class="link-blue">Bella Laipsker</a>
                            </h4>
                            <p class="main-body-p text-left">Once upon a time… a new application was born named Splash. It was the first time in MCR that we wrote a pure web application, and we chose the Angular 1.2 framework. Since then, with our next applications – Spotlight and CXone’s Player and Search -- we used the next generation Angular 1.5.</p>
                            <a href="#" class="link"><img src="http://layoutmain.esy.es/mail/img/link-more.png" alt="more"></a>
                        </columns>
                        <columns  small="12" large="4">
                            <p class="small-text-center"><a href="#" class="link"><img src="http://layoutmain.esy.es/mail/img/pic_2.png" alt="item"></a></p>
                        </columns>
                    </row>
                </container>
                <container class="bg_letter">
                    <row>
                        <columns large="12">
                            <spacer size="10"></spacer>
                            <img src="http://layoutmain.esy.es/mail/img/dots.png" alt="dots">
                            <spacer size="18"></spacer>
                        </columns>
                    </row>
                </container>
                <container class="bg_footer">
                    <row>
                        <columns large="5" class="small-text-center">
                            <spacer size="34"></spacer>
                            <p class="small-text-center text-leftt">
                                <a href="#" class="link"><img src="http://layoutmain.esy.es/mail/img/site.png" alt="site"></a>
                            </p>
                            <spacer size="5"></spacer>
                        </columns>
                        <columns large="6" class="" >
                            <p class="small-text-center text-right">
                                <a href="#" class="link_soc"><img src="http://layoutmain.esy.es/mail/img/twiter.png" alt="icon"></a>
                                <a href="#" class="link_soc"><img src="http://layoutmain.esy.es/mail/img/linkdin.png" alt="icon"></a>
                                <a href="#" class="link_soc"><img src="http://layoutmain.esy.es/mail/img/faceboock.png" alt="icon"></a>
                                <a href="#" class="link_soc"><img src="http://layoutmain.esy.es/mail/img/gplus.png" alt="icon"></a>
                            </p>
                        </columns>
                    </row>
                </container>
                <spacer size="35"></spacer>
            </center>
        </td>
    </tr>
</table>
</body>
</html>